@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url("background.png");
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    border-radius: 40px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.544);
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: black;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}


.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 22px;
    font-weight: 500;
}
